body {
  background: #282828;
  background-image: linear-gradient(-90deg, #7B7F82 2%, #303136 100%), radial-gradient(50% 116%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(-59deg, rgba(255, 255, 255, 0.5) 7%, rgba(87, 87, 87, 0.5) 68%, rgba(85, 85, 85, 0.5) 76%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: normal,multiply,multiply; }

nav.navbar {
  position: fixed;
  width: inherit;
  background-image: radial-gradient(50% 150%, #787B7D 5%, #4B5052 100%);
  transform: translateX(-15px);
  z-index: 999; }
  nav.navbar li a {
    color: antiquewhite; }
    nav.navbar li a:hover {
      color: #ffffff; }
  nav.navbar li.active a {
    color: black;
    font-weight: bold; }

nav.navbar + * {
  padding-top: 3.5rem; }

div.container {
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-blend-mode: screen;
  padding-bottom: 2px; }

div.jumbotron {
  background: linear-gradient(90deg, #7E898F 0%, #636C75 100%), radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.55) 100%), radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.08) 63%);
  background-blend-mode: multiply, screen;
  color: antiquewhite; }
  div.jumbotron a {
    color: antiquewhite; }

#map {
  width: 100%;
  height: 650px; }

a[href^="mailto"] {
  color: #373A3C; }

div.servicesCard h4 {
  height: 3.5rem; }

#root h4 {
  line-height: 2rem;
  margin-bottom: 1px; }

img.zoom {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out; }
  img.zoom:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); }

@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }
footer {
  color: antiquewhite; }
  footer p {
    font-size: small; }
  footer .myFlexFooterItems {
    display: flex; }
    footer .myFlexFooterItems * {
      margin: 0 0.5rem 1rem 0.5rem; }
    footer .myFlexFooterItems p {
      border-left: 5px double whitesmoke;
      padding-left: 0.5rem; }
  @media (max-width: 543px) {
    footer i.fa-mobile {
      margin-right: 24px; }
    footer i.fa-envelope-o {
      margin-right: 13px; } }

/*# sourceMappingURL=style.css.map */
